

<h1 style="color: #000; font-family: sans-serif; text-align: center;">Welcome to my awesome Web App</h1>
<h2  style="color: #000; font-family: sans-serif; text-align: center;"><%= @quote.saying %></h2>
<h2  style="color: #000; font-family: sans-serif; text-align: center;">- <%= @quote.author %></h2>
